$accent-color : #ffa009;
$accent-color-light : #ffbf0c;

$accent-gradient : linear-gradient(65deg, $accent-color 0, $accent-color-light 100%);
$transition-all-02-l: all 0.2s linear;
$transitin-all-02-eio: all 0.2s ease-in-out;
